.Sidebar
	display: block
	overflow: hidden
	position: fixed
	top: 0
	left: 0

	

	width: 25%
	height: 100%
	background: $sidebar-background
	color: $sidebar-text

	background-image: url('../img/sidebar-bg-1.jpg')
	background-size: cover
	background-repeat: no-repeat
	background-position: center

	+bgFade($sidebar-background, .1)

	+element('Module')
		margin: $gutter

		& + &
			margin-top: 0
			padding-bottom: $gutter
			border-bottom: 3px solid rgba($flat-gray-4, .25)

		&:last-of-type
			padding-bottom: 0
			border: 0


.LoggedInUser
	+flex(row, nowrap)
	background: $flat-blue-2

	+element('Avatar')
		+flex
		width: 33%
		height: 33%

	+element('Info')
		+flex(column, nowrap)
		flex: 1
		align-items: stretch
		justify-content: space-between

		+element('Welcome')
			+flex(row, nowrap)
			flex: 1
			justify-content: center
			align-items: center
			font-size: 1.25rem
			font-weight: 300
			padding: $gutter/2

	+element('Buttons')
		+flex(row, nowrap)
		flex: 1
		width: 100%

		.Button
			flex: 1
			padding: $gutter/2
			margin: 0
			font-size: .9rem
			font-weight: 300
			text-transform: uppercase
	