html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font: 16px/1 "Raleway", "Tahoma", sans-serif;
}

iframe {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
blockquote,
figure,
button {
  margin: 0;
  padding: 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-size: inherit;
}

strong {
  font-weight: bold;
}

sup {
  position: relative;
  top: -.5em;
  font-size: 65%;
  line-height: 0;
  vertical-align: baseline;
}

a,
button {
  color: inherit;
  -webkit-transition: 180ms;
  -moz-transition: 180ms;
  transition: 180ms;
}

a {
  text-decoration: none;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
}

button:focus {
  outline: 0;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  min-height: 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  color: #363c3d;
}

.Button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5em 1em;
  margin: 0.5em;
  border-radius: 2px;
}

.Button--primary {
  background: #3498DB;
}

.Button--primary:hover {
  background: #4aa3df;
}

.Sidebar {
  display: block;
  overflow: hidden;
  width: 25%;
  height: 100%;
  background: #34495E;
  color: #ECF0F1;
}

.Sidebar__Module {
  margin: 1em;
}

.Sidebar__Module + .Sidebar__Module {
  margin-top: 0;
  padding-bottom: 1em;
  border-bottom: 3px solid rgba(127, 140, 141, 0.25);
}

.Sidebar__Module:last-of-type {
  padding-bottom: 0;
  border: 0;
}

.LoggedInUser {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background: #2980B9;
}

.LoggedInUser__Avatar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  height: 33%;
}

.LoggedInUser__Info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.LoggedInUser__Info__Welcome {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 0.5em;
}

.LoggedInUser__Buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.LoggedInUser__Buttons__Button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  padding: 0.5em 0.5em;
  font-size: .9rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #ECF0F1;
}

.LoggedInUser__Buttons__Button--settings {
  background-color: #27AE60;
}

.LoggedInUser__Buttons__Button--settings:hover {
  background-color: #2aba67;
}

.LoggedInUser__Buttons__Button--logout {
  background-color: #E67E22;
}

.LoggedInUser__Buttons__Button--logout:hover {
  background-color: #ea9347;
}

.Editor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #ECF0F1;
}

.Editor__Header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #dde4e6;
  color: #363c3d;
  height: 8rem;
}

.Editor__Header__Heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.75rem;
  font-weight: 400;
  padding: 0.5em;
}

.Editor__Header__Heading i {
  font-size: 1.25rem;
  padding: 0 0.5em;
}

.Editor__Header__Buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 1em;
}

.Editor__Header__Buttons__Button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: 300;
  color: #ECF0F1;
}

.Editor__Header__Buttons__Button--back {
  background-color: #27AE60;
}

.Editor__Header__Buttons__Button--back:hover {
  background-color: #2ecf72;
}

.Editor__Header__Buttons__Button--save {
  background-color: #2980B9;
}

.Editor__Header__Buttons__Button--save:hover {
  background-color: #3896d3;
}

.Editor__Header__Buttons__Button--delete {
  background-color: #E74C3C;
}

.Editor__Header__Buttons__Button--delete:hover {
  background-color: #eb6d60;
}

.Editor__Header__Buttons__Button + .Editor__Header__Buttons__Button {
  margin-left: 1em;
}

.Editor__Header__Buttons__Button i {
  padding-right: 0.5em;
}

.Editor__Main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.NavigationContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.Navigation {
  display: block;
  height: 100%;
  width: 100%;
}

.Navigation__Item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.Navigation__Item:hover .Navigation__Item__Submenu {
  max-height: 18rem;
  opacity: 1;
  border-bottom: 1px dotted rgba(127, 140, 141, 0.2);
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  transition: all 250ms linear;
}

.Navigation__Item__Link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.5em 0;
}

.Navigation__Item__Link:hover {
  background: rgba(255, 255, 255, 0.1);
}

.Navigation__Item__Link__Left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Navigation__Item__Link__Right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.5em;
  letter-spacing: .05rem;
}

.Navigation__Item__Link__Right span {
  font-size: 1.15rem;
  font-weight: 300;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Navigation__Item__Link__Right span + i {
  font-size: 1.25rem;
  opacity: .75;
}

.Navigation__Item__Submenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  opacity: 0;
  max-height: 0;
  -webkit-transition: all 50ms linear;
  -moz-transition: all 50ms linear;
  transition: all 50ms linear;
}

.Navigation__Item__Submenu__Item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0;
}

.Navigation__Item__Submenu__Item__Link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.5em 0;
  margin-left: 1em;
  overflow: hidden;
}

.Navigation__Item__Submenu__Item__Link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.Navigation__Item__Submenu__Item__Link:hover .AddListButton {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: .5;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
}

.Navigation__Item__Submenu__Item__Link__Left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 13%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Navigation__Item__Submenu__Item__Link__Right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: .05rem;
}

.Navigation__Item__Submenu__Item__Link__Right span {
  font-size: 1rem;
  font-weight: 300;
}

.Navigation__Item__Submenu__Item__Link__Right .AddListButton {
  display: block;
  opacity: 0;
  padding: 0 0.5em;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
}

.Navigation__Item__Submenu__Item__Link__Right .AddListButton:hover {
  opacity: 1;
}
