extends ../manager.layout.pug

block content
	header.Editor__Header
		h1.Editor__Header__Heading Pages
		.Editor__Header__Buttons
			a.Button.Button--green(href='/manager/pages/create') 
				i.fa.fa-plus
				| Create Page