extends ../manager.layout.pug

block content
	header.Editor__Header
		h1.Editor__Header__Heading
			| Pages
			i.fa.fa-angle-double-right
			| New Page
		.Editor__Header__Buttons
			a.Button.Button--green(href='#') 
				i.fa.fa-angle-left
				| Back
	section.Editor__Main
		form.Form(method='POST', enctype='multipart/form-data')
			.Form__Row
				.Form__InputGroup
					label.Form__Label(for='name') Name
					input.Form__InputText.js-pagename(name='name', id='name', placeholder='Page Name')
				.Form__InputGroup
					label.Form__Label(for='slug') Slug
					input.Form__InputText.js-pageslug(name='slug', id='slug', placeholder='/slug')
			.Form__Row
				.Form__InputGroup
					label.Form__Label(for='template') Template
					select.Form__Select(name='template', id='template')
						option(value='Item 1') aboutus
						option(value='Item 2') portfolio
						option(value='Item 3') contact
				.Form__InputGroup--horizontal
					input.Form__CheckBox(type='checkbox', name='haslist', id='haslist')
					label.Form__CheckBox__Clickable(for='haslist')
					span.Form__CheckBox__Label Has List

					input.Form__CheckBox(type='checkbox', name='ishome', id='ishome')
					label.Form__CheckBox__Clickable(for='ishome')
					span.Form__CheckBox__Label Homepage
			.Form__Row.Form__Row--heading
				h2 Content Fields
			.js-formrows
				.Form__Row
					.Form__InputGroup.Field__TypeSelector
						//label.Form__Label(for='fieldtype') Content Type
						select.Form__Select.js-selecttype(name='fieldtype', id='fieldtype')
							option(value='shorttext') Short Text
							option(value='paragraph') Paragraph
							option(value='image') Image
							option(value='video') Video Embed
					.Form__InputGroup.Field__Name
						//label.Form__Label(for='fieldname') Field Name
						input.Form__InputText(name='fieldname', id='fieldname', placeholder='Field Name')
					.Form__InputGroup.Field__Value
						//label.Form__Label(for='fieldvalue') Field Value
						input.Form__InputText(name='fieldvalue', id='fieldvalue', placeholder='Field Value')
					.Form__InputGroup--smaller
						button.Button.Button--blue.js-addrow
							i.fa.fa-plus
			.Form__Row.Form__Row--buttons
				button.Button.Button--blue(type='submit')
					i.fa.fa-plus
					| Create Page