include ./mixins/mixin.myAvatar.pug

doctype html
html
	head
		title= title
		link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Raleway:300,400,500,700/Roboto:300,400,500,700">')
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		link(rel='stylesheet', href='/manager/styles/style.css')
	body
		aside.Sidebar
			.Sidebar__Module.LoggedInUser
				+myAvatar
				.LoggedInUser__Info
					span.LoggedInUser__Info__Welcome Welcome, Andy!
					.LoggedInUser__Buttons
						a.Button.Button--green(href='#') Settings
						a.Button.Button--orange(href='#') Log Out

			.Sidebar__Module
				nav.NavigationContainer
					ul.Navigation
						li.Navigation__Item
							a.Navigation__Item__Link(href='#')
								.Navigation__Item__Link__Left
									i.fa.fa-home.fa-2x
								.Navigation__Item__Link__Right
									span Home
						li.Navigation__Item
							a.Navigation__Item__Link(href='#')
								.Navigation__Item__Link__Left
									i.fa.fa-file.fa-2x
								.Navigation__Item__Link__Right
									span Pages
									i.fa.fa-angle-down

							// SUBMENU
							ul.Navigation__Item__Submenu
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-home
										.Navigation__Item__Submenu__Item__Link__Right
											span Home
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-info
										.Navigation__Item__Submenu__Item__Link__Right
											span About
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-music
										.Navigation__Item__Submenu__Item__Link__Right
											span Music
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-picture-o
										.Navigation__Item__Submenu__Item__Link__Right
											span Photos
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-envelope-o
										.Navigation__Item__Submenu__Item__Link__Right
											span Contact
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-list-alt
										.Navigation__Item__Submenu__Item__Link__Right
											span Tour Dates

						li.Navigation__Item
							a.Navigation__Item__Link(href='#')
								.Navigation__Item__Link__Left
									i.fa.fa-list.fa-2x
								.Navigation__Item__Link__Right
									span Lists
									i.fa.fa-angle-down

							// SUBMENU
							ul.Navigation__Item__Submenu
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-picture-o
										.Navigation__Item__Submenu__Item__Link__Right
											span Photos
											i.fa.fa-plus.AddListButton(data-id='1')
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-list-alt
										.Navigation__Item__Submenu__Item__Link__Right
											span Tour Dates
											i.fa.fa-plus.AddListButton(data-id='2')
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-music
										.Navigation__Item__Submenu__Item__Link__Right
											span Discography
											i.fa.fa-plus.AddListButton(data-id='3')

						li.Navigation__Item
							a.Navigation__Item__Link(href='#')
								.Navigation__Item__Link__Left
									i.fa.fa-globe.fa-2x
								.Navigation__Item__Link__Right
									span Global Content
						li.Navigation__Item
							a.Navigation__Item__Link(href='#')
								.Navigation__Item__Link__Left
									i.fa.fa-files-o.fa-2x
								.Navigation__Item__Link__Right
									span Media
						li.Navigation__Item
							a.Navigation__Item__Link(href='#')
								.Navigation__Item__Link__Left
									i.fa.fa-users.fa-2x
								.Navigation__Item__Link__Right
									span Users
						li.Navigation__Item
							a.Navigation__Item__Link(href='#')
								.Navigation__Item__Link__Left
									i.fa.fa-cog.fa-2x
								.Navigation__Item__Link__Right
									span Config
						li.Navigation__Item
							a.Navigation__Item__Link(href='#')
								.Navigation__Item__Link__Left
									i.fa.fa-question.fa-2x
								.Navigation__Item__Link__Right
									span Help

		main.Editor
			block content
		
		script(src='/manager/js/scripts.js')