include ./mixins/mixin.myAvatar.pug

doctype html
html
	head
		title= title
		link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Raleway:300,400,500,700/Roboto:300,400,500,700">')
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		link(rel='stylesheet', href='./styles/style.css')
	body
		aside.Sidebar
			.Sidebar__Module.LoggedInUser
				+myAvatar
				.LoggedInUser__Info
					span.LoggedInUser__Info__Welcome Welcome, Andy!
					.LoggedInUser__Buttons
						a.Button.Button--green(href='#') Settings
						a.Button.Button--orange(href='#') Log Out

			.Sidebar__Module
				nav.NavigationContainer
					ul.Navigation
						li.Navigation__Item
							a.Navigation__Item__Link(href='#')
								.Navigation__Item__Link__Left
									i.fa.fa-home.fa-2x
								.Navigation__Item__Link__Right
									span Home
						li.Navigation__Item
							a.Navigation__Item__Link(href='#')
								.Navigation__Item__Link__Left
									i.fa.fa-file.fa-2x
								.Navigation__Item__Link__Right
									span Pages
									i.fa.fa-angle-down

							// SUBMENU
							ul.Navigation__Item__Submenu
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-home
										.Navigation__Item__Submenu__Item__Link__Right
											span Home
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-info
										.Navigation__Item__Submenu__Item__Link__Right
											span About
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-music
										.Navigation__Item__Submenu__Item__Link__Right
											span Music
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-picture-o
										.Navigation__Item__Submenu__Item__Link__Right
											span Photos
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-envelope-o
										.Navigation__Item__Submenu__Item__Link__Right
											span Contact
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-list-alt
										.Navigation__Item__Submenu__Item__Link__Right
											span Tour Dates

						li.Navigation__Item
							a.Navigation__Item__Link(href='#')
								.Navigation__Item__Link__Left
									i.fa.fa-list.fa-2x
								.Navigation__Item__Link__Right
									span Lists
									i.fa.fa-angle-down

							// SUBMENU
							ul.Navigation__Item__Submenu
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-picture-o
										.Navigation__Item__Submenu__Item__Link__Right
											span Photos
											i.fa.fa-plus.AddListButton(data-id='1')
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-list-alt
										.Navigation__Item__Submenu__Item__Link__Right
											span Tour Dates
											i.fa.fa-plus.AddListButton(data-id='2')
								li.Navigation__Item__Submenu__Item
									a.Navigation__Item__Submenu__Item__Link(href='#')
										.Navigation__Item__Submenu__Item__Link__Left
											i.fa.fa-music
										.Navigation__Item__Submenu__Item__Link__Right
											span Discography
											i.fa.fa-plus.AddListButton(data-id='3')

						li.Navigation__Item
							a.Navigation__Item__Link(href='#')
								.Navigation__Item__Link__Left
									i.fa.fa-globe.fa-2x
								.Navigation__Item__Link__Right
									span Global Content
						li.Navigation__Item
							a.Navigation__Item__Link(href='#')
								.Navigation__Item__Link__Left
									i.fa.fa-files-o.fa-2x
								.Navigation__Item__Link__Right
									span Media
						li.Navigation__Item
							a.Navigation__Item__Link(href='#')
								.Navigation__Item__Link__Left
									i.fa.fa-users.fa-2x
								.Navigation__Item__Link__Right
									span Users
						li.Navigation__Item
							a.Navigation__Item__Link(href='#')
								.Navigation__Item__Link__Left
									i.fa.fa-cog.fa-2x
								.Navigation__Item__Link__Right
									span Config
						li.Navigation__Item
							a.Navigation__Item__Link(href='#')
								.Navigation__Item__Link__Left
									i.fa.fa-question.fa-2x
								.Navigation__Item__Link__Right
									span Help

		main.Editor
			header.Editor__Header
				h1.Editor__Header__Heading
					| Portfolio
					i.fa.fa-angle-double-right
					| New Project
				.Editor__Header__Buttons
					a.Button.Button--green(href='#') 
						i.fa.fa-angle-left
						| Back
					a.Button.Button--red(href='#') 
						i.fa.fa-trash
						| Delete
			section.Editor__Main
				form.Form
					.Form__Row
						.Form__InputGroup
							label.Form__Label(for='InputText1') Input Text Label
							input.Form__InputText(name='InputText1', id='InputText1', placeholder='Input Text')
						.Form__InputGroup
							label.Form__Label(for='Select1') Select Box Label
							select.Form__Select(name='Select1', id='Select1')
								option(value='Item 1') Item 1
								option(value='Item 2') Item 2
								option(value='Item 3') Item 3
					.Form__Row
						.Form__InputGroup
							label.Form__Label(for='TextArea1') Textarea Label
							textarea.Form__TextArea(name='TextArea1', id='TextArea1', placeholder='Textarea text.')
					.Form__Row
						.Form__InputGroup--horizontal
							input.Form__CheckBox(type='checkbox', name='CheckBox1', id='CheckBox1')
							label.Form__CheckBox__Clickable(for='CheckBox1')
							span.Form__CheckBox__Label CheckBox 1
						.Form__InputGroup--horizontal
							input.Form__CheckBox(type='checkbox', name='CheckBox2', id='CheckBox2')
							label.Form__CheckBox__Clickable(for='CheckBox2')
							span.Form__CheckBox__Label CheckBox 2
						.Form__InputGroup--horizontal
							input.Form__CheckBox(type='checkbox', name='CheckBox3', id='CheckBox3')
							label.Form__CheckBox__Clickable(for='CheckBox3')
							span.Form__CheckBox__Label CheckBox 3
						.Form__InputGroup--horizontal
							input.Form__CheckBox(type='checkbox', name='CheckBox4', id='CheckBox4')
							label.Form__CheckBox__Clickable(for='CheckBox4')
							span.Form__CheckBox__Label CheckBox 4
					.Form__Row.Form__Row--baseline
						.Form__InputGroup
							label.Form__Label(for='InputText1') Input Text Label
							input.Form__InputText(name='InputText1', id='InputText1', placeholder='Input Text')
						.Form__InputGroup
							label.Form__Label(for='InputText1') Input Text Label
							input.Form__InputText(name='InputText1', id='InputText1', placeholder='Input Text')
						.Form__InputGroup
							label.Form__Label(for='FileUpload1') File Upload
							input.Form__FileUpload(type='file', name='FileUpload1', id='FileUpload1')
							label.Form__FileUpload__Clickable(for='FileUpload1')
								i.fa.fa-upload
								span.Form__FileUpload__ButtonText Select File
								span.Form__FileUpload__Progress
					.Form__Row.Form__Row--buttons
						a.Button.Button--blue(href='#')
							i.fa.fa-plus
							| Create object

				block content

		
		script(src='./js/index.js')