doctype html
html
  head
    title= title
    link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Roboto:300,400,500,700')
    link(rel='stylesheet', href='./styles/style.css')
  body
    block content
    script(src='./js/index.js')