.NavigationContainer
	+flex
	flex: 1

.Navigation
	+flex(column, nowrap)
	flex: 1

	+element('Item')
		+flex(column, nowrap)

		&:hover
			.Navigation__Item__Submenu
				max-height: 20rem
				opacity: 1
				border-bottom: 1px dotted rgba($flat-gray-4, .2)
				transition: all 250ms linear

		+element('Link')
			+flex(row, nowrap)
			align-items: center
			flex: 1
			padding: $gutter/2 0

			&:hover
				background: rgba(255,255,255,0.1)

			+element('Left')
				+flex
				width: 15%
				justify-content: center

			+element('Right')
				+flex
				flex: 1
				padding: $gutter / 2
				
				span
					font-size: 1.25rem
					font-weight: 300
					flex: 1

				span + i
					font-size: 1.25rem
					opacity: .75

		+element('Submenu')
			+flex(column, nowrap)

			opacity: 0
			max-height: 0
			overflow: hidden			

			transition: all 250ms linear

			+element('Item')
				+flex(row, nowrap)
				margin: 0

				+element('Link')
					+flex(row, nowrap)
					align-items: center
					flex: 1
					padding: $gutter/2 0
					margin-left: $gutter

					&:hover
						background-color: rgba(255,255,255,0.1)

					+element('Left')
						+flex
						width: 13%
						justify-content: center

					+element('Right')
						+flex
						flex: 1
						
						
						span
							font-size: 1rem
							font-weight: 300